.hero {
  position: relative;
}

.image {
  width: 100%;
  max-height: 400px;
}

.details {
  background: var(--title);
  position: absolute;
  //border-bottom: solid 1px var(--nokacolor);
  bottom:0;
  left: 0;
  right: 0;
}
.title{
  text-align: center;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
}
